:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey700: hsl(0, 0%, 20%);
  --Grey800: hsl(0, 0%, 12%);
  --Grey900: hsl(0, 0%, 8%);
}

body {
  padding: 0px;
  margin: 0px;
  background: var(--Grey900);
  box-sizing: border-box;
  font-family: "Inter", serif;
}

* {
  margin: 0px;
}

p {
  font-size: 14px;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.card {
  width: 512px;
  background-color: var(--Grey800);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  border-radius: 50%;
  width: 100px;
  object-fit: cover;
}

.card h1 {
  color: var(--White);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.card .london {
  color: var(--Green);
  font-weight: 700;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.front-end {
  color: var(--White);
  font-weight: 400;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  padding: 0px 20px;
  color: white;
  display: block;
}

.social-media {
  list-style: none;
  width: 100%;
  text-align: center;
}

ul li:not(:last-child) {
  margin-bottom: 16px;
}

.social-media li {
  background: var(--Grey700);
  border-radius: 15px;
  padding: 10px;
}
